In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [4]:
# File to Load (Remember to Change These)
school_data_to_load = "/Users/kerimason/Desktop/Pandas_Homework/Data_files/students_complete.csv"
student_data_to_load = "/Users/kerimason/Desktop/Pandas_Homework/Data_files/schools_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [7]:
school_data_complete.columns.values

array(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype=object)

In [27]:
#Calculate the total number of schools
number_of_schools = len(school_data_complete["school_name"].unique())
number_of_schools

15

In [29]:
#Calculate the total number of students
number_of_students = len(school_data_complete["Student ID"].unique())
number_of_students

39170

In [32]:
#Calculate the total budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [33]:
#Calculate the average math score 
average_math = school_data_complete["math_score"].mean()
average_math

78.98537145774827

In [34]:
#Calculate the average reading score
average_reading = school_data_complete["reading_score"].mean()
average_reading

81.87784018381414

In [38]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_average = (average_math + average_reading)/2
overall_average

80.43160582078121

In [86]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = ((school_data_complete["math_score"] >= 70).value_counts() / number_of_students)
passing_math_score[1]

0.749808526933878

In [87]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = ((school_data_complete["reading_score"] >= 70).value_counts() / number_of_students)
passing_reading_score[1]

0.8580546336482001

In [95]:
#Create a dataframe to hold the above results
district_summary_df = school_data_complete
district_summary_df

district_summary_df = pd.DataFrame({
    "Total Schools" : [number_of_schools],
    "Total Students" : [number_of_students],
    "Total Budget" : [total_budget],
    "Average Math Score" : [round(average_math,2)],
    "Average Reading Score" : [round(average_reading,2)],
    "% Passing Math" : [round(passing_math_score[1] *100,2)],
    "% Passing Reading" : [round(passing_reading_score[1] * 100,2)],
    "% Overall Passing Rate" : [overall_average]})
district_summary_df

#Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,82932329558,78.99,81.88,74.98,85.81,80.431606

In [ ]:
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

In [84]:
school_data_complete.columns.values

array(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype=object)

In [109]:
school_summary_df = school_data_complete[["school_name" , 
                                          "type" , 
                                          "student_name" , 
                                          "budget" , 
                                          "math_score" ,
                                         "reading_score"]]
school_summary_df.head()

,school_name,type,student_name,budget,math_score,reading_score
0,Huang High School,District,Paul Bradley,1910635,79,66
1,Huang High School,District,Victor Smith,1910635,61,94
2,Huang High School,District,Kevin Rodriguez,1910635,60,90
3,Huang High School,District,Dr. Richard Scott,1910635,58,67
4,Huang High School,District,Bonnie Ray,1910635,84,97

In [131]:
school_summary_df.groupby(("school_name"), axis=1)
school_summary_df.head()

school_values_df = school_summary_df
school_values_df.head()

,school_name,type,student_name,budget,math_score,reading_score
0,Huang High School,District,Paul Bradley,1910635,79,66
1,Huang High School,District,Victor Smith,1910635,61,94
2,Huang High School,District,Kevin Rodriguez,1910635,60,90
3,Huang High School,District,Dr. Richard Scott,1910635,58,67
4,Huang High School,District,Bonnie Ray,1910635,84,97

In [147]:
school_values_df.loc([["school_name" , 
                      "type" ,
                      "student_name" , 
                      "budget" ,
                      "math_schore" , 
                      "reading_score"]].values, axis = 1)
school_values_df.head()

AttributeError: 'list' object has no attribute 'values'

In [102]:
#Number of Students per school
students_per_school = school_data_complete["school_name"].value_counts()
students_per_school

school_summary = pd.DataFrame(students_per_school)

school_summary.rename(columns={'school_name':'n_students'}, inplace=True)
school_summary

                       n_students
Bailey High School           4976
Johnson High School          4761
Hernandez High School        4635
Rodriguez High School        3999
Figueroa High School         2949
Huang High School            2917
Ford High School             2739
Wilson High School           2283
Cabrera High School          1858
Wright High School           1800
Shelton High School          1761
Thomas High School           1635
Griffin High School          1468
Pena High School              962
Holden High School            427

In [ ]:
school_math =