In [1]:
import pandas as pd

In [2]:
election_file = "/Users/kerimason/Desktop/pythonchallenge/PyPoll/election_data.csv"

In [3]:
election_file_pd = pd.read_csv(election_file)
election_file_pd.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
#The total number of votes cast
unique = election_file_pd["Voter ID"].unique()
unique

array([12864552, 17444633, 19330107, ..., 16754708, 12083146, 14526187])

In [5]:
voter_count = election_file_pd["Voter ID"].value_counts()
voter_count

17958996    1
19918729    1
11071552    1
19599420    1
15411259    1
11214906    1
19611702    1
15423541    1
19615796    1
19619890    1
15431729    1
19623984    1
19628078    1
15439917    1
19632172    1
15444011    1
11247658    1
15452199    1
15456293    1
11259940    1
11141150    1
15345691    1
11149338    1
11153432    1
19546134    1
15267905    1
11059270    1
11161620    1
15251529    1
19497070    1
           ..
19394868    1
11558073    1
15738038    1
11668723    1
11689209    1
11685115    1
12365095    1
16749888    1
12344633    1
16536888    1
12332343    1
16524598    1
12336437    1
16528692    1
12373291    1
16565546    1
12377385    1
12369189    1
15889660    1
16549154    1
10851222    1
16598298    1
12401941    1
16581906    1
12451085    1
16635144    1
12430599    1
16622854    1
12434693    1
12584961    1
Name: Voter ID, Length: 3521001, dtype: int64

In [6]:
#A complete list of candidates who received votes
candidate_votes_df = election_file_pd
candidate_votes_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [7]:
#A complete list of candidates who received votes
candidate_votes_df = candidate_votes_df.dropna(how = "any")
candidate_votes_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [8]:
#check work that zero were removed
candidate_votes_df["Voter ID"].values.min()

10000002

In [9]:
#List of candidates who received votes
candidate_votes_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [ ]:
#The percentage of votes each candidate won
#candidate_count = len(candidate_votes_df["Candidate"].value_counts())
#candidate_count

In [24]:
candidate_count=candidate_votes_df["Candidate"].value_counts()
candidate_count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [27]:
#Total vote casts
candidate_percentages= (candidate_count.values / len(voter_count))
candidate_percentages

array([0.63000011, 0.19999994, 0.13999996, 0.02999999])

In [33]:
summary_table = [(candidate_count, candidate_percentages)]
summary_table

[(Khan        2218231
  Correy       704200
  Li           492940
  O'Tooley     105630
  Name: Candidate, dtype: int64,
  array([0.63000011, 0.19999994, 0.13999996, 0.02999999]))]

In [39]:
summary_table = [(candidate_count , candidate_percentages)]
summary_table

[(Khan        2218231
  Correy       704200
  Li           492940
  O'Tooley     105630
  Name: Candidate, dtype: int64,
  array([0.63000011, 0.19999994, 0.13999996, 0.02999999]))]

In [41]:
df = pd.DataFrame(candidate_count)
df

In [42]:
df["Percents"] = candidate_percentages

In [43]:
df

          Candidate  Percents
Khan        2218231      0.63
Correy       704200      0.20
Li           492940      0.14
O'Tooley     105630      0.03

In [48]:
winner = df[df["Percents"] > .50]
winner

      Candidate  Percents
Khan    2218231      0.63

In [51]:
df.to_csv("vote_count_percentages.csv")

In [52]:
winner.to_csv("winner.csv")